.upd-* binary merge=ours
configure binary merge=ours
config.h.in binary merge=ours
errsym.c binary merge=ours
size.c binary merge=ours
const.c binary merge=ours
errmsg.c binary merge=ours
errnum.c binary merge=ours
